{% extends "layout.html" %}

{% block showcase %}
<Header class="showcase">
  <div class="overlay"></div>
  <div class="content">
    <img src="./assets/images/logo.png" alt="" class="logo">

    <div class="title">
      <h1>Adams Blog</h1>
    </div>

    <div class="text">
      <!-- Ea export admodum proident se laboris o ipsum aliquip. Aut enim eiusmod quo
      mentitum e expetendis si nostrud summis laboris cernantur qui tempor excepteur
      despicationes -->
    </div>
  </div>
</Header>

{% endblock showcase %}

{% block content %}
    {% for post in posts %}
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">{{post.category}}</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-muted"><p>posted by {{post.author}} on the {{post.date}}</p></div>
          <p class="mb-auto">{{post.content}}</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
          <img src="{{url_for('static', filename='images/')}}{{post.image}}" alt="" class="bd-placeholder-img" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">

        </div>
      </div>
    {% endfor %}
{% endblock content %}
